<div class="add-player">
  <label for="player-input">Enter team players</label>
  <input
    id="player-input"
    type="text"
    class="player-input"
    [formControl]="inputPlayerName"
    (input)="onInput()"
  />
  <ul class="searched-players-list" *ngIf="searchedPlayers.length > 0">
    <li class="searched-players-item" *ngFor="let player of searchedPlayers">
      <a (click)="onSelectPlayer(player)">{{ player.playerName }}</a>
    </li>
  </ul>
  <button
    type="button"
    class="add-player-btn"
    (click)="onAddPlayer()"
    [disabled]="!canAdd"
  >
    Add
  </button>
</div>
