<app-header></app-header>
<div class="main-container">
  <main class="main">
    <div class="last-game-scores">
      <h3>Scores at last game</h3>
      <app-infographics-list></app-infographics-list>
    </div>
    <div class="last-game-assists">
      <h3>Assists at last game</h3>
      <app-infographics-list></app-infographics-list>
    </div>
    <div class="last-game-winners">
      <h3>Last game winners</h3>
      <app-team-list></app-team-list>
    </div>
  </main>
  <aside class="awards-aside"><app-awards-list></app-awards-list></aside>
</div>

<app-footer></app-footer>
