<div class="flex flex-col">
  <label for="player-input" class="font-light text-center"
    >Enter team players</label
  >
  <input
    #inputPlayer
    id="player-input"
    type="text"
    class="border border-gray-300 rounded-lg px-3 py-2 text-sm w-52 align-self-center mb-2"
    [formControl]="inputPlayerName"
    (input)="onInput()"
  />

  <ul class="searched-players-list">
    @for (player of (searchedPlayers$ | async); track $index) {
    <li class="searched-players-item">
      <a (click)="onSelectPlayer(player)">{{ player.playerName }}</a>
    </li>
    }
  </ul>
  <button
    type="button"
    class="bg-blue-500 px-3 py-2 text-slate-200 rounded-lg text-sm w-52 align-self-center mb-2"
    (click)="onAddPlayer()"
  >
    Add
  </button>
</div>
