<div class="controller">
  <div class="inner-containter">
    <form class="form" (ngSubmit)="onSubmit()">
      <label for="player-name"> Create new player </label>
      <input
        type="text"
        [formControl]="playerName"
        id="player-name"
        class="border border-gray-300 rounded-lg px-3 py-2 text-sm w-52 align-self-center mb-2"
      />
      <p
        class="name-error"
        *ngIf="!playerName.valid && playerName.dirty && playerName.touched"
      >
        Please enter correct name
      </p>
      <button
        type="submit"
        class="player-submit"
        [disabled]="!playerName.valid"
      >
        Save
      </button>
    </form>
  </div>
</div>
