<nav class="flex gap-4 px-2">
  <div class="font-semibold text-lg">
    <a [routerLink]="['players']" routerLinkActive="router-link-active"
      >Players</a
    >
  </div>
  <div class="font-semibold text-lg">
    <a [routerLink]="['create-teams']" routerLinkActive="router-link-active"
      >Start new game</a
    >
  </div>
  <div class="font-semibold text-lg">
    <a [routerLink]="['game']" routerLinkActive="router-link-active">Game</a>
  </div>
</nav>

<div class="p-2 flex justify-center items-center">
  <router-outlet></router-outlet>
</div>
