<div class="controller">
  <div class="inner-containter">
    <form class="form" [formGroup]="playerForm" (ngSubmit)="onSubmit()">
      <label for="player-name"> Enter players name </label>
      <input
        type="text"
        formControlName="playerName"
        id="player-name"
        class="player-name"
      />
      <p
        class="name-error"
        *ngIf="!playerForm.valid && playerForm.dirty && playerForm.touched"
      >
        Please enter correct name
      </p>
      <button
        type="submit"
        class="player-submit"
        [disabled]="!playerForm.valid"
      >
        Save
      </button>
    </form>
  </div>
</div>
