<div class="pt-2 flex justify-center flex-col font-medium text-lg mb-10">
  @if(teamService.createTeamError$ | async) {

  <div class="flex justify-center items-center mb-2">
    <p class="text-red-500 text-sm font-semibold">
      {{ teamService.createTeamError$ | async }}
    </p>
    <div class="flex justify-center items-center">
      <a routerLink="/game" routerLinkActive="router-link-active"
        >Go to active game page</a
      >
    </div>
  </div>
  }
  <div class="flex p-1 flex-col md:flex-row justify-around mb-10">
    @for (team of (teamService.teams$ | async); track $index) {
    <div class="flex flex-col mr-2">
      <h3 class="text-center uppercase">{{ team.teamColor }} team</h3>
      <app-add-player-input [teamColor]="team.teamColor"></app-add-player-input>
      <app-team-players
        [team]="team"
        (removePlayer)="removePlayerFromTeam($event, team.teamColor)"
      ></app-team-players>
    </div>
    }
  </div>
  <div class="flex justify-center">
    <button
      class="bg-blue-500 px-3 py-2 text-slate-200 rounded-lg text-sm w-52 align-self-center"
      (click)="saveTeams()"
    >
      Save teams
    </button>
  </div>
</div>
